__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
.envrc
.dmypy.json
.mypy_cache/
.ruff_cache/
.pytest_cache/
.ipynb_checkpoints/
.artifacts/
.dist/
dist/
build/
*.egg-info/
.cache/
*.log
coverage.xml
htmlcov/
.DS_Store
notebooks/*-checkpoint.ipynb
reports/
